body {
    margin: 0;
    padding: 1rem;
}
#root header,
a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none;
}
#root header i {
    padding: 1rem;
}
.song-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #272343;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #ffff;
}
.song {
    display: flex;
    flex-direction: column;
}
h3 {
    margin: 0;
}
.song-list div,
.ri-heart-line {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ri-arrow-down-line,
.ri-arrow-up-line {
    padding-top: 2rem;
}
i {
    font-size: 30px;
}
.ri-heart-line {
    color: orange;
}