body {
    margin: 0;
    padding: 1rem;
}
#root header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color: #272343;
    font-size: 30px;
}
.song-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #272343;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #ffff;
}
.song {
    display: flex;
    flex-direction: column;
}
h3 {
    margin: 0;
}
h4 {
    text-align: center;
    font-size: 40px;
    padding: 1rem;
}
.song-list div,
.ri-heart-line {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ri-arrow-down-line,
.ri-arrow-up-line {
    padding-top: 2rem;
}
i {
    font-size: 30px;
}
.ri-heart-line {
    color: orange;
}
li {
    list-style: none;
    font-size: 40px;
    line-height: 78px;
    color: #000000;
}
.add-new-song {
    background-color: aliceblue;
    border-radius: 15px;
}
form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
input,
select,
textarea {
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}
input,
select {
    font-size: 18px;
}
label {
    font-size: 20px;
    padding-bottom: 1rem;
}
.add {
    width: 100px;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    background-color: cadetblue;
    color: white;
    text-transform: uppercase;
}
